.UserSpecific input {
  width: 100%;
  height: 2.5vw;
  border-radius: 0.3vw;
  border: 1px solid #8cc63e;
  font-size: 1vw;
}
.UserSpecific div {
  padding-top: 1.1vw;
  font-size: 1.1vw;
  font-weight: 600;
}
.SiteSpecific input {
  width: 100%;
  height: 2.5vw;
  border-radius: 0.3vw;
  border: 1px solid #8cc63e;
  font-size: 1vw;
}
.SiteSpecific div {
  padding-top: 1.1vw;
  font-size: 1.1vw;
  font-weight: 600;
}
.RoboSpecific input {
  width: 100%;
  height: 2.5vw;
  border-radius: 0.3vw;
  border: 1px solid #8cc63e;
  font-size: 1vw;
}
.RoboSpecific div {
  padding-top: 1.1vw;
  font-size: 1.1vw;
  font-weight: 600;
}
.userModal div {
  padding-top: 1vw;
  font-size: 1vw;
  font-weight: 550;
}
.userModal input {
  height: 2.2vw;
  border-radius: 0.3vw;
  border: 1px solid #8cc63e;
  font-size: 1vw;
}
