.displaysite table {
  border: 2px solid grey;
}
.displaysite table tbody tr td {
  border: 2px solid #ccc;
  background-color: #f3f5fb;
}
.bodyFirst{
  flex:3 3 4;
}
.displayTBody tr td {
  padding: 4px !important;
  width:50% !important;
}

#tab tbody tr td {
  padding: 4px !important;
}
#tab1 tbody tr td {
  padding: 4px !important;
}
